.backLayer{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0.5;
  margin-top: 75px;
}
.player
{
  margin-top: 75px;
  background: linear-gradient(rgba(39,43,48,.9),#272b30);
}
.image{
  transition: 0.5s all;
}
